
body{
    background-color:black;
    
}

.home-card figure figcaption{
 color:white;
 position:absolute;
 top:96%;
 background-color: red;
 width:50%;
}

.home-card figure{
    position:relative;
}
.home-grid{
    display:grid;
    grid-template-columns:repeat(2,50%);
    grid-template-rows:100%;

}
